.NavBarItems {
  background-color: #ff6a00;
  height: 80px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1.2rem;
}

.NavBarLogo {
  /* background-image: url("./logo.png"); */
  background-color: #red;
  height: 80px;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
}


.NavMenu {
  grid-gap: 10px;
  text-align: center;
  justify-content: right;
  align-self: right
}
